.allAbout {
  background: linear-gradient(to right, #8e420c, #494747, #0e0e0e);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.imagePerfil {
  margin: 30px auto;
  width: 600px;
  height: 600px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 5px 8px rgba(156, 154, 153, 0.376);
}

.ButtonLinkedin {
  padding: 5px 5px;
  font-size: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.ButtonGitHub {
  padding: 5px 5px;
  font-size: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.backButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(to bottom right, #ff5722, #880000);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.backButton:hover {
  background: linear-gradient(to bottom right, #880000, #ff5722);
}

.textCenterP1 {
  font-size: large;
  text-align: center;
  margin-bottom: 20px;
}

.textCenterP2 {
  font-size: large;
  text-align: center;
  margin-bottom: 20px;
}

.fontH2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(210, 192, 192);
}

.iconImageLinkedin {
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;

}

.iconImageGitHub {
  width: 50px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: var(--margin-size-4);
}

.buttonContainer button {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 var(--margin-size-3);
}
