.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient( 109.6deg,  rgba(255, 174, 0, 0.862) 11.2%, rgb(135, 4, 4) 100.2% );;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.309);
}

.navLink {
  text-decoration: none;
}

.navCreateRecipeButton {
  background-color: #d6d6d6;
  color: #f16330;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-image: linear-gradient(to right, #f16330, #d6d6d6);
  background-position: 100% 50%;
  background-size: 200% 100%;
}

.navCreateRecipeButton:hover {
  background-color: #dd6e45;
  color: #fff;
  background-position: 0 50%;
}

.navAllRecipeButton {
  background-color: #d6d6d6;
  color: #f16330;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-image: linear-gradient(to right, #f16330, #d6d6d6);
  background-position: 100% 50%;
  background-size: 200% 100%;
}

.navAllRecipeButton:hover {
  background-color: #f16330;
  color: #fff;
  background-position: 0 50%;
}
