.HomeAll {
  background: linear-gradient(to right, #734407, #494747, #0e0e0e);
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  min-height: calc(100vh - 76px - 114px - 68px);
  position: relative;
}

.cardsContainer>*:not(.loader) {
  flex-basis: calc(30% - 2rem);
  /* Ancho base de cada tarjeta */
  margin: 10px;
}

.cardsContainer>p {
  text-align: center;
}

@media (max-width: 768px) {
  .cardsContainer>*:not(.loader) {
    flex-basis: calc(30% - 20px);
    /* Ancho de las tarjetas en pantallas más pequeñas */
  }
}

@media (max-width: 576px) {
  .cardsContainer>*:not(.loader) {
    flex-basis: calc(100% - 20px);
    /* Ancho de las tarjetas en pantallas aún más pequeñas */
  }
}

.pageTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.loader {
  transform: rotateZ(45deg);
  width: 48px;
  height: 48px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
