.footerContainer {
  background-color: var(--neutral-black);
  color: var(--neutral-white);
  padding: var(--padding-size-4) var(--padding-size-8);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerText {
  margin: 0;
  font-size: 20px;
  color: var(--neutral-white);
  text-align: center;

}

.footDescription {
  margin: 10px 0;
  font-size: 14px;
  color: var(--neutral-600);
}

.aboutLink {
  text-decoration: none;
}

.aboutButton {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #f16330;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.aboutButton:hover {
  background-color: #e45621;
}

.aboutButton:active {
  background-color: #3e8e41;
}
