.ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 24px auto;
  padding: 0;
}

ul .li {
  margin: 1rem;
}

.container,
.arrow {
  color: var(--neutral-white);
  height: 32px;
  margin: 0 3px;
  padding: 0 6px;
  font-size: 0.875rem;
  min-width: 32px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 16px;
  letter-spacing: 0.01071em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container:hover,
.arrow:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.arrow {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2rem;
  position: relative;
  top: -2px;
}

.container.current {
  background-color: rgba(255, 255, 255, 0.16);
}
